 <!DocTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <!--LINKS-->
        <!--Fonts - Font Awesome, Google APIs-->
        <!--StyleSheets - local one created in public-->
        <!--<link rel="stylesheet" type="text/css" href="stylesheets/app.css">-->
        <!--CDNs - Bootstrap, SemanticUI-->
        <!--Javascrip - local Files-->
    </head>
    <body>